h2 {
    text-align: center;
    margin: 0 0 10px;
}

.trollFieldset {
    width: 340px;
    margin: 0 20px;
}

.trollFieldset label {
    width: 160px;
    display: inline-block;
    margin: 0;
}

.trollFieldset label:first-of-type
{
    margin-right: 20px;
}

.trollFieldset .forum, .trollFieldset .users {
    display: block;
    width: 160px;
}

#trollsSave {
    margin: 10px auto;
    display: block;
}